<div class="add-book-container">
    <div class="inner">
        <header>
            <h2>Add book - new book</h2>
            <step-indicator steps="steps" current-step="currentStep"></step-indicator>
        </header>

        <main>
            <div ng-if="allGenres.length" ng-switch="currentStep">
                <selection-list ng-switch-when="genre"
                                list="allGenres"
                                on-select="addToSelection"
                                selection-type="genre"
                                display-prop="name">
                </selection-list>
                <selection-list ng-switch-when="subgenre"
                                list="newBook.genre.subgenres"
                                on-select="addToSelection"
                                selection-type="subgenre"
                                display-prop="name"
                                extra-selection="{
                                    display: 'Add new',
                                    action: openNewSubGenre
                                }">
                </selection-list>
                <new-subgenre ng-switch-when="add" parent-genre="newBook.genre">
                </new-subgenre>
                <new-book-details ng-switch-when="information" book="newBook">
                </new-book-details>
            </div>
        </main>
        <h2>
            <button ng-repeat="direction in ['prev', 'next']" ng-click="moveStep(direction)">
                {{direction}}
            </button>
            <!-- <button ng-click="moveStep('prev')">prev</button>
            <button ng-click="moveStep('next')">next</button> -->
        </h2>
    </div>
</div>