.add-book-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-book-container .inner {
  border-radius: 4ch;
  width: 70%;
  display: flex;
  flex-direction: column;
  --margin: 1.5rem;
}

.add-book-container .inner header {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.add-book-container .inner header h2 {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.add-book-container .inner header step-indicator {
  flex: 2;
}

.add-book-container .inner main {
  flex: 10;
  padding: 8%;
}

.add-book-container .inner footer {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: var(--margin);
  margin-right: var(--margin);
}
