<div class="add-book-container">
    <div class="inner">
        <header>Add book - new book</header>
        <h2>WIZARD STEPS</h2>
        <main>
            current: {{currentStep}}
            <div ng-if="allGenres.length" ng-switch="currentStep">
                <selection-list ng-switch-when="0"
                                list="allGenres"
                                on-select="addToSelection"
                                selection-type="genre"
                                display-prop="name">
                </selection-list>
                <selection-list ng-switch-when="1"
                                list="newBook.genre.subgenres"
                                on-select="addToSelection"
                                selection-type="subgenre"
                                display-prop="name"
                                extra-selection="{
                                    display: 'Add new',
                                    action: openNewSubGenre
                                }">
                </selection-list>
                <new-book-details ng-switch-when="2" book="newBook">
                </new-book-details>
                <new-subgenre ng-switch-when="add" parent-genre="newBook.genre">
                </new-subgenre>
            </div>
        </main>
        <h2>
            <button ng-click="moveStep(-1)">prev</button>
            <button ng-click="moveStep(1)">next</button>
        </h2>
    </div>
</div>