.add-book-container {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        border-radius: 4ch;
        width: 70%;
        min-height: 70%;
        display: flex;
        flex-direction: column;

        header {
            flex: 2;
            display: flex;
            flex-direction: column;

            h2 {
                flex: 1;
                margin: 0;
                margin-top: 1%;
                display: flex;
                align-items: center;
            }
            step-indicator {
                flex: 2;
            }
        }

        main {
            border: 2px solid deeppink;
            flex: 10;
        }

        footer {
            flex: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

}