<mui-container fluid>
    <!-- fluid -->
    <div class="books-list">
        <mui-appbar>
            <h1>Books List</h1>
            <mui-button ng-click="addBook()" color="primary ">+</mui-button>
        </mui-appbar>

        <div ng-if="doneLoading">
            <table ng-if="list.length" class="mui-table mui-table--bordered">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Subgenre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in list">
                        <td><strong> {{book.bookTitle}}</strong></td>
                        <td>{{book.author}}</td>
                        <td>{{book.genre}}</td>
                        <td>{{book.subgenre}}</td>
                    </tr>
                </tbody>
            </table>
            <no-books ng-if="!list.length" thing="addBook" add-book="addBook"></no-books>
        </div>

        <loading-spinner ng-if="!doneLoading"></loading-spinner>

        <add-book close="close" ng-if="showAddBookWizard"></add-book>
    </div>
</mui-container>