.selection-list {
    form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25ch, max-content));
        justify-content: center;

        label {
            width: 25ch;
            height: 10vh;
            display: grid;
            place-items: center;

            .mui-btn {
                border: 1px solid var(--primary);
                color: var(--primary);
                min-width: 21ch;

                &.selected {
                    background-color: var(--primary);
                    color: white;
                }
            }
        }
    }
}