<div class="selection-list">
    <form>
        <label ng-repeat="item in list">
            <mui-button variant="flat" ng-click="typedSelection(item, $index)" ng-class="{'selected': $index === selected}">
                {{item[displayProp]}}
            </mui-button>
        </label>
        <label ng-if="extraSelection">
            <mui-button variant="flat" ng-click="extraSelection.action()" class="{{extraSelection.className}}">
                {{extraSelection.display}}
            </mui-button>
        </label>
    </form>
</div>