.no-books {
  height: 70vh;
  display: grid;
  place-items: center;
}

.no-books svg {
  font-size: 15rem;
  color: firebrick;
}

.no-books p {
  color: var(--text);
  font-size: 2rem;
  text-align: center;
}
